# System files
# ------------

Icon
.DS_Store

# Node
# ----

/node_modules

# Composer
# --------

/vendor
/kirby
/assets/css

# Temporary files
# ---------------

/media/*
!/media/index.html
/docs/img/*

# Temporary files
# ---------------
/content/*
!/content/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license

# Docker
# ---------------

# Keep lock files for reproducible builds
# but ignore local override files
docker-compose.override.yml
.env
