@font-face {
  font-family: "Departure Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("/assets/fonts/DepartureMono-Regular.woff2") format("woff2"),
    url("/assets/fonts/DepartureMono-Regular.woff") format("woff");
}
